@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


/**********/
/* button */
/**********/
.btn-item {
    border: 0;
    outline: 0;
    width: 100%;
    font-weight: 500;
    background: white;
    color: white;
    cursor: pointer;
}

.btn-style {
    border: 0;
    outline: 0;
    width: 94px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    margin-left: auto;
}

.btn-style.get {
    height: 106px;
    background: #6327FE;
    color: white;
    font-weight: 700;
}

/**********/
/* layout */
/**********/
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #EAE8FE;
}

.section-wrapper {
    width: 738px;
    margin: 0 auto;
}

/**********/
/* header */
/**********/
.header-logo {
    text-align: center;
    margin-bottom: 44px;
}

/**********/
/* main */
/**********/
.main-wrap {
    display: flex;
    gap: 20px;
}

/* beverage-list */
.section-item {
    background-color: #FFFFFF;
    width: 360px;
    /* flex-grow, flex-shrink, flex-basis (== flex: auto) */
    /* flex: 1 1 auto;  */
    padding: 31px 27px 28px 27px;
}

.section-item .sec-item {
    margin-bottom: 20px;
}

.section-item .list-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
    gap: 12px;
}

.section-item .list-item li {
    position: relative;
    width: 94px;
    height: 130px;
    background: white;
    /* box-sizing: content-box; */
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.section-item .list-item li:hover:not(.sold-out) {
    outline: 3px solid #6327FE;
    box-shadow: none;
}

.section-item .list-item img {
    width: 35.86px;
    margin-top: 10px;
}

.section-item .list-item .item-name {
    display: inline-block;
    font-size: 9px;
    color: initial;
    margin: 2px 0 5px 0;
}

.section-item .list-item .item-price {
    display: inline-block;
    width: 70px;
    height: 22px;
    background-color: #6327FE;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    padding-top: 5px;
    margin: 0 auto;
    margin-bottom: 9px;
}

.section-item .list-item .item-price::after {
    content: '원';
}

/* return-money */
.section-item .sec-money {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    margin-bottom: 12px;
}

.section-item .return-money {
    display: flex;
    align-items: center;
    width: 200px;
    height: 33px;
    background: #EAE8FE;
    border-radius: 5px;
    font-size: 14px;
}

.section-item .return-money .txt-changes {
    margin-right: auto;
    margin-left: 10px;
    font-weight: 500;
}
.txt-changes::after {
    content: ' :';
}
.section-item .return-money .show-return-money {
    margin-left: auto;
    margin-right: 10px;
    font-weight: 500;
}
.show-return-money::after {
    content: ' 원';
}

.section-item .input-money {
    width: 200px;
    height: 33px;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    color: #BDBDBD;
}

input::placeholder {
    font-size: 13px;
    color: #BDBDBD;
    text-indent: 6px;
}
input:focus {
    text-indent: 6px;
}

/* choice-item */
.section-item .sec-choice-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-item .sec-choice-item .list-choice-item {
    width: 200px;
    height: 106px;
    background: #EAE8FE;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    overflow-x: scroll;
}

.list-choice-item li {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    
    width: 170px;
    height: 46px;
    background-color: white;
    margin: 12px 18px 6px 12px;
    border-radius: 6px;
}

/* .list-choice-item .listdiv {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
} */
.list-choice-item img {
    width: 18px;
}
.list-choice-item .item-name {
    font-size: 9px;
    font-weight: 500;
    color: #333333;
    margin: 18px 0 18px -25px;
}
.list-choice-item .item-amount {
    width: 30px;
    height: 30px;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 9.5px;
}


/* result */
.section-result {
    display: grid;
    grid-template-rows: 50px 475px;
    width: 360px;
    gap: 20px;
    /* flex: 1 1 auto; */
}

.section-result .sec-my-money {
    background-color: white;
}

.sec-my-money div {
    display: flex;
    align-items: center;
    width: 306px;
    height: 32px;
    background: #EAE8FE;
    border-radius: 5px;
    margin: 9px 27px;
}
.sec-my-money h3 {
    margin-right: auto;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}
.sec-my-money h3::after {
    content: ' :';
}
.sec-my-money p {
    margin-left: auto;
    margin-right: 10px;
}
.sec-my-money p::after {
    content: ' 원';
}

.section-result .sec-my-item {
    display: grid;
    grid-template-rows: 58px 364px 52px;
    justify-content: center;
    background-color: white;
}

.section-result .sec-my-item h3 {
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
}

.section-result .sec-my-item .list-my-item {
    width: 306px;
    height: 364px;
    background: #EAE8FE;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    overflow: auto;
}
.section-result .sec-my-item .list-my-item li {
    width: 276px;
    height: 46px;
    background-color: white;
    margin: 12px 18px 6px 12px;
    border-radius: 6px;
}

.list-my-item li {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}
.list-my-item img {
    width: 18px;
    margin-left: -25px;
}
.list-my-item .item-name {
    font-size: 9px;
    font-weight: 500;
    color: #333333;
    margin: 18px 0 18px -120px;
}
.list-my-item .item-amount {
    width: 30px;
    height: 30px;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 9.5px;
}

.sec-my-item .total-price{
    font-size: 12px;
    font-weight: 500;
    margin-top: 6px;
    text-align: right;
}

.sec-my-item .total-price::after {
    content: ' 원';
}

/************/
/* sold-out */
/************/
.sold-out::after {
    content: '품절';
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("img/Sold-out.png"), rgba(0, 0, 0, 0.8);
    background-size: 57.51px 44.85px;
    background-repeat: no-repeat;
    background-position: center;
}

/**********/
/* scroll */
/**********/
/*
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: white;
}
*/


/***************/
/* media-query */
/***************/
@media (max-width: 360px) {
    body {
        background-color: white;
    }
    .header-logo img {
        width: 166px;
    }
    .main-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
    }
    .section-result {
        margin-top: -35px;
    }
}