@charset 'utf-8';

/***********/
/* 기본 설정 */
/***********/
:root {
    --main-color: #007042;
    --sub-color: #23885e;
    --sub2-color: #F6F5EF;
    --sub3-color: #2D2926;
    --btn-color: #1B3C35;
}
/***************/
/* 유틸리티 스타일 */
/***************/
.ir {
    position: absolute;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.img-item {
    display: block;
}

/**********/
/* 레이아웃 */
/**********/
body {
    background-color: var(--sub-color)
}

#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 28px;
    padding-top: 260px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

#app .main-title {
    position: absolute;
    width: 400px;
    margin: 0 auto;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#app .main-title .img-logo {
    width: 100%;
}

#app .sec-vending-machine,
#app .sec-my-info {
    flex-basis: 360px;
}

/**************/
/* 자판기 스타일 */
/**************/
#app .sec-vending-machine {
    padding: 30px;
    background-color: var(--sub2-color);
    border-radius: 10px;
}

.sec-vending-machine .list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.sec-vending-machine .list-item li {
    position: relative;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4); */
}

.sec-vending-machine .btn-item {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    width: 100%;
    padding: 12px;
    background-color: var(--btn-color);
    align-items: center;
    justify-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.sec-vending-machine .btn-item:hover {
    border-radius: 10px;
    outline: 3px solid var(--sub-color);
}

.sec-vending-machine .btn-item:active {
    border-radius: 10px;
    outline: 3px solid var(--main-color);
}

.sec-vending-machine .list-item .img-item {
    width: 80px;
    margin: 0 auto;
}

.sec-vending-machine .txt-item {
    display: block;
    font-size: 9px;
    line-height: 12px;
    color: var(--sub2-color);
}

.sec-vending-machine .txt-price {
    display: block;
    padding: 5px 13px;
    font-size: 10px;
    border: 1px solid var(--sub2-color);
    border-radius: 50px;
    color: var(--sub2-color);
}


/**********************/
/* 잔액, 입금, 획득 리스트 */
/**********************/
.sec-vending-machine .sec-buy-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    margin-top: 20px;
}

.sec-buy-item .info-change,
.sec-buy-item .inp-put,
.sec-buy-item .list-item-select {
    grid-column: 1/3;
    border-radius: 5px;
}

.sec-buy-item .btn-return,
.sec-buy-item .btn-put,
.sec-buy-item .btn-get {
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    font-size: 13px;
}

.sec-buy-item .info-change {
    padding: 10px;
    background-color: var(--sub3-color);
    color: white;
}

.sec-buy-item .info-change .txt-change,
.sec-my-info .txt-mymoney {
    float: right;
}

.sec-buy-item .inp-put {
    padding: 6px;
    border: 1px solid var(--sub3-color);
}

/************/
/* 획득 리스트 */
/************/
.list-item-select {
    height: 125px;
    padding: 12px;
    overflow-y: scroll;
    border: 1px solid var(--sub3-color);
    border-radius: 5px;
}

.list-item-select li {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--sub-color);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
}

.list-item-select li+li {
    margin-top: 6px;
}

.list-item-select .img-item,
.list-item-select .txt-item {
    float: left;
}

.list-item-select .btn-select,
.sec-my-item .list-item-select li {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--sub-color);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.list-item-select .btn-select:hover {
    outline: 2px solid var(--main-color);
    background-color: rgb(251, 245, 236);
}

.list-item-select .img-item {
    width: 40px;
    height: 42px;
    border-radius: 50%;
}

.list-item-select .txt-item {
    margin-left: 13px;
    font-size: 9px;
    color: var(--sub3-color);
}

.list-item-select .count-num {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    color: var(--main-color)
}

.sec-buy-item .btn-get {
    background-color: var(--main-color);
    color: white;
}

/****************/
/* 나의 정보 스타일 */
/****************/
.sec-my-info .sec-my-money {
    padding: 25px 27px;
    margin-bottom: 20px;
    background-color: var(--sub2-color);
    border-radius: 10px;
}

.sec-my-info .txt-my-info,
.sec-my-item .txt-my-item {
    display: block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 20px;
}

/* 획득한 별 바 */

.sec-my-info .show-my-star {
    display: flex;
    justify-content: space-between;
}

.sec-my-info .bar-star {
    width: 270px;
    margin: 10px 0 15px;
}

.sec-my-info .bar-star {
    appearance: none;
}
.sec-my-info .bar-star::-webkit-progress-bar {
    height: 11px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
.sec-my-info .bar-star::-webkit-progress-value {
    border-radius: 10px;
    background: var(--main-color);
    /* background: -webkit-linear-gradient(to right, #fce562, #ffd700); */
    background: linear-gradient(to right, #f4e79b, #c0a823);
}

.sec-my-info .img-star {
    width: 30px;
    height: 30px;
    transition: all ease 1s;
}

.sec-my-info .img-star:hover {
    transform: rotateY( 180deg );
}

.sec-my-info .show-my-money {
    padding: 6px 10px;
    background-color: var(--sub2-color);
    border-radius: 5px;
    line-height: 20px;
}

.show-my-money .txt-mymoney {
    float: right;
    font-weight: 700;
}

.sec-my-info .sec-my-item {
    padding: 25px 27px 26px;
    background-color: var(--sub2-color);
    border-radius: 10px;
}

.sec-my-info .list-item-select {
    height: 360px;
}

.sec-my-info .list-item-select li {
    overflow: hidden;
    padding: 8px;
}

.sec-my-info .txt-total {
    display: block;
    text-align: right;
    margin-top: 6px;
    font-size: 12px;
    line-height: 17px;
}


/* sold-out */
.sec-vending-machine .list-item li.sold-out::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 10px;
    background: no-repeat center/60px 46px url(../img/Sold-out.png) rgba(0, 0, 0, 0.8);
}

.sec-vending-machine .list-item li.sold-out {
    pointer-events: none;
}